[Unit]
Description=Download Google Drive data and after duplicating, delete the image download dir

[Service]
Type=simple
ExecStart=/mnt/datadisk/shannon/get_sentinel/gdrive-siphon.sh
Restart=no
