[Unit]
Description=Download Google Drive data and after duplicating, delete the image download dir

[Timer]
OnCalendar=*:0/20:0
Persistent=true
OnBootSec=5 minutes

[Install]
WantedBy=timers.target
